{{ if and (eq .Type "persons") (eq .Kind "page")  }}
  {{ if in .Params.persons_categories "implication/freelances" }}
    <div class="osuny-badge">
      <img  src="/assets/images/osuny-badges/freelance-osuny-horizontal-clair.svg"
            alt="Freelance osuny - Cette personne s’appuie sur osuny pour œuvrer à un numérique d’intérêt général." />
    </div>
  {{ end }}
{{ else if and (eq .Type "organizations") (eq .Kind "page")  }}
  {{ if in .Params.organizations_categories "implication/soutiens-osuny" }}
    <div class="osuny-badge">
      <img  src="/assets/images/osuny-badges/soutien-osuny-horizontal-clair.svg"
            alt="Freelance osuny - Cette organisation soutient osuny pour œuvrer à un numérique d’intérêt général." />
    </div>
  {{ end }}
{{ end }}
