.blocks
    .block
        &.block-call_to_action
            .call_to_action
                .description
                    p
                        font-weight: normal

        &.block-chapter
            &--alt_background,
            &--accent_background
                @include in-page-with-sidebar
                    .chapter
                        border-radius: $btn-border-radius
        &.block-features
            ul
                @include media-breakpoint-up(desktop)
                    grid-template-columns: repeat(2, 1fr)
        &.block-gallery
            &--carousel
                padding-bottom: 0
                padding-top: 0
        &.block-pages
            &--large
                .page
                    @include media-breakpoint-up(desktop)
                        &:nth-child(even)
                            flex-direction: row-reverse
                            // justify-content: space-between
                            text-align: right
                    .page-title
                        a
                            text-decoration: none
        
        &.block-testimonials
            @include media-breakpoint-up(desktop)
                padding-top: $spacing-4

        // cards with border radius
        &.block-links,
        &.block-pages
            &--cards
                article,
                .links > li
                    border-radius: $btn-border-radius
                    .media img
                        border-bottom-left-radius: 0
                        border-bottom-right-radius: 0

// Pleine largeur
body.full-width
    .blocks
        .block
            &.block-title:first-child
                margin-top: 0 !important
            &.block-title--classic
                margin-top: $spacing-6
                h2
                    max-width: 100%
                    margin-bottom: $spacing-4
                    &::before
                        content: " "
                        display: block
                        width: var(--grid-gutter)
                        height: 6px
                        background-color: $color-text
                        margin-bottom: $spacing-4
