.breadcrumb-container
    border-top: 1px solid $color-border
    @include media-breakpoint-up(desktop)
        padding-bottom: $spacing-2
        padding-top: $spacing-2
.page__home
    .breadcrumb-container
        display: none