header#document-header
    &.is-sticky
        .menu
            .menu-class-cta
                a
                    color: $color-background
                    &:hover
                        color: $color-text
    .menu-class-cta
        a
            @include button
            font-weight: normal
            padding: pxToRem(4) pxToRem(10) pxToRem(5)
            min-width: auto
            line-height: 100%
            @include media-breakpoint-up(desktop)
                margin-left: $spacing-2
            @include media-breakpoint-down(desktop)
                background: $color-background
                color: $color-text !important
    @include media-breakpoint-down(desktop)
        .primary-menu
            .header-button
                display: flex
                align-items: center
                flex-direction: row-reverse
                &[aria-expanded="true"]
                    span:last-of-type::before
                        transform: translateY(1px)
                span:first-of-type
                    @include small
                    text-transform: none
                span:last-of-type::before
                    content: "●"

.has-menu-opened
    header#document-header
        @include media-breakpoint-down(desktop)
            background: $color-text !important
            color: $color-background !important
            .logo
                filter: invert(1)
            nav
                min-height: 100vh
