@include media-breakpoint-up(desktop)
    .hero
        .container
            .content
                flex-direction: column
                .hero-text
                    width: 100%
                    hgroup
                        display: flex
                        justify-content: space-between
                        margin-bottom: $spacing-5
                        h1
                            width: columns(4)
                        p
                            width: columns(8)
                            text-align: center
                figure
                    width: 100%
                    padding-left: offset(4)