.hero
    .content
        .hero-actions
            a
                padding-left: $spacing-3
                padding-right: $spacing-3
.pages__section,
.projects__section
    @include media-breakpoint-up(desktop)
        .hero
            .container
                .content
                    flex-direction: column
                    .hero-text
                        width: 100%
                        padding-bottom: 0
                        margin-bottom: $spacing-5
                        hgroup
                            width: 100%
                            display: flex
                            justify-content: space-between
                            h1
                                position: absolute
                                width: columns(4)
                                z-index: 0
                            p
                                padding-left: offset(4)
                                width: 100%
                                margin-top: pxToRem(10)
                                text-align: center
                    figure
                        width: 100%
                        padding-left: offset(4)
