.toc-container
    .toc-content
        .toc-pages
            ol
                li
                    @include meta
                    a
                        color: $color-text-alt
                        &.active
                            color: $color-text
                            &::before
                                content: "● "