h1,
blockquote
    letter-spacing: -3%
.more
    font-weight: bold

@include media-breakpoint-up(desktop)
    body:not(.full-width)
        --h2-size: #{pxToRem(26)}
        --h3-size: #{pxToRem(22)}
        h2
            font-family: $font-adelphe
            font-weight: bold


\:root
    @include media-breakpoint-between(sm, xl)
        --h1-size: #{pxToRem(40)}
        --lead-hero-size: #{pxToRem(28)}
        --body-size: #{pxToRem(18)}
        --meta-size: #{pxToRem(14)}
    @include media-breakpoint-between(xl, xxl)
        --h1-size: #{pxToRem(54)}
        --h2-size: #{pxToRem(36)}
        --lead-hero-size: #{pxToRem(36)}
