$color-blue: #1558A5
$color-orange: #BC5215
$color-yellow: #AD8301
$color-cyan: #24837B
$color-cyan-light: #3aa99f

$color-accent: $color-cyan-light
$color-text: #100F0F
$color-text-alt: #343331
$color-border: rgba(0, 0, 0, 0.1)
$color-background-alt: #DAD8CE
$color-background: #FFFCF0

$btn-border-radius: 4px
$btn-border: 1px solid $color-text

$font-inclusive: "Inclusive Sans", sans-serif
$font-adelphe: "Adelphe", serif
$body-font-family: $font-inclusive
$heading-font-family: $body-font-family
$h1-size-desktop: pxToRem(50)
$h1-weight: normal
$h2-size-desktop: pxToRem(30)
$h2-size: pxToRem(22)
$h2-weight: bold
$lead-sidebar-size-desktop: pxToRem(40)
$lead-font-family: $font-adelphe
$quote-font-family: $font-adelphe
$quote-size-desktop-long: $lead-sidebar-size-desktop
$quote-size-desktop-short: $lead-sidebar-size-desktop
$body-size-desktop: pxToRem(20)
$body-size: pxToRem(16)

$header-color: $color-text
$header-background: transparent
$header-dropdown-full: true
$header-logo-height: 32px
$header-logo-height-desktop: 48px
$header-sticky-background: $color-background
$header-border-bottom-width: 0
$header-sticky-color: $color-text
$header-upper-menu-color: $color-background
$header-upper-menu-background: $color-text
$header-upper-menu-sticky-color: $color-background
$header-upper-menu-sticky-background: $color-text
$hero-color: $color-text
$hero-background-color: none
$body-overlay-color: rgba(0, 0, 0, 0.8)
$breadcrumb-color: $color-text
$breadcrumb-color-active: $color-text-alt
$footer-color: white
$footer-background-color: $color-text

$block-call-to-action-accent-color: $color-text
$block-gallery-carousel-background: none
$block-testimonials-color: $color-text