$color-accent: #635656 !default
$color-text: #000000 !default
$color-text-alt: #212121 !default
$color-border: rgba(0, 0, 0, 0.1) !default
$color-background-alt: #F1EFE9 !default
$color-background: #FFFFFF !default

$offset-small: pxToRem(8)
$offset-large: pxToRem(16)

$font-inclusive: "Inclusive Sans", sans-serif
$font-adelphe: "Adelphe", serif

$body-font-family: $font-inclusive
$heading-font-family: $font-inclusive

$h1-size-desktop: pxToRem(64)
$h1-line-height: 100%
$h2-weight: bold
$h5-weight: bold
$h5-text-transform: none
$lead-size: pxToRem(20)
$lead-font-family: $font-adelphe
$lead-size-desktop: pxToRem(46)
$lead-hero-size-desktop: pxToRem(46)
$quote-size-desktop-long: pxToRem(46)
$quote-size-desktop-short: pxToRem(46)
$quote-style: normal
$quote-weight: bold
$body-size-desktop: pxToRem(20)
$body-line-height: 150%
$body-overlay-color: transparent

$header-background: none
$header-color: $color-text
$header-dropdown-full: true
$header-border-bottom-width: 0
$header-nav-padding-y: pxToRem(4)
$header-nav-padding-y-desktop: pxToRem(22)
$hero-background-color: $color-background
$footer-background-color: $color-background
$footer-logo-height-desktop: pxToRem(48)

$grid-gutter: pxToRem(16)
$grid-gutter-lg: pxToRem(32)
$grid-gutter-xxl: pxToRem(32)

$btn-color: $color-background
$btn-background: $color-text
$btn-border-radius: pxToRem(40)

$block-space-y-desktop: space(40)
$block-chapter-layout-accent-background: $color-background
$block-chapter-layout-accent-color: $color-text
$block-testimonials-color: $color-text
$block-testimonials-font-family: $font-adelphe
