$color-accent: #091c30
$color-text: #000000
$color-text-alt: #343331
$color-border: rgba(0, 0, 0, 0.1)
$color-background-alt: #F1EFE9
$color-background: #FFFFFF

$font-inclusive: "Inclusive Sans", sans-serif
$font-adelphe: "Adelphe", serif

$body-font-family: $font-inclusive
$heading-font-family: $font-inclusive

$h1-size-desktop: pxToRem(64)
$h1-line-height: 100%
$h2-weight: bold
$h2-font-family: $font-adelphe
$lead-size: pxToRem(20)
$lead-font-family: $font-adelphe
$lead-size-desktop: pxToRem(46)
$lead-hero-size-desktop: pxToRem(46)
$quote-size-desktop-long: pxToRem(40)
$quote-size-desktop-short: pxToRem(40)
$quote-style: normal
$quote-weight: bold
$body-size-desktop: pxToRem(20)
$body-line-height: 150%
$heading-margin-bottom-desktop: space(20)

$header-background: none
$header-dropdown-full: true
$header-color: black
$header-sticky-background: black
$header-sticky-color: white
$header-sticky-invert-logo: true
$header-border-bottom-width: 0
$hero-background-color: white
$footer-background-color: white

$grid-gutter: pxToRem(24)
$grid-gutter-lg: pxToRem(32)
$grid-gutter-xxl: pxToRem(32)