body
    background-color: black
    background-image: url('/assets/images/sun-top.svg'), linear-gradient(180deg, black 0%, $color-background 700px)
    background-position-x: center
    background-position-y: top
    background-repeat: no-repeat
    @include media-breakpoint-down(desktop)
        background-size: 300%, auto

.rich-text
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul
        margin-top: 1rem

header#document-header
    @include media-breakpoint-up(desktop)
        .container
            flex-direction: column
            .logo
                margin: 10px 0 30px
    @include media-breakpoint-down(desktop)
        nav
            .logo
                margin: auto
                transform: translateX(18px)
            button[type="button"]
                align-self: flex-end
                span:first-of-type
                    display: none
    .dropdown-menu
        .nav-level-2
            a
                font-weight: bold
        li
            p
                @extend .small
                line-height: 150%
                display: block
                @include media-breakpoint-down(desktop)
                    margin-bottom: 10px
                @include media-breakpoint-up(desktop)
                    margin-top: 10px

.hero
    padding-bottom: 0
    margin-bottom: $spacing1
    .container
        margin-top: $spacing3
    .content
        padding-top: 0

.hero:not(.hero--with-image)
    .content > 
        h1,
        hgroup
            text-align: center
            margin-bottom: $spacing2
            @include media-breakpoint-up(desktop)
                margin-left: offset(2)
                width: col(8)
.hero
    @include media-breakpoint-down(desktop)
        .content > h1
            text-align: center

.toc-cta
    @include media-breakpoint-up(desktop)
        @include in-page-without-sidebar
            background: none

.block-pages
    @include media-breakpoint-up(desktop)
        @include in-page-without-sidebar
            padding-top: $spacing4
            padding-bottom: $spacing4

.block-pages--cards .card
    min-height: 200px

.block-call_to_action
    @include in-page-without-sidebar
        background-image: linear-gradient(68deg, rgba(255,196,0,1) 0%, rgba(255,241,0,1) 38%, rgba(255,143,0,1) 100%)
    @include in-page-with-sidebar
        .call_to_action > div
            &, &::after
                background-image: linear-gradient(68deg, rgba(255,196,0,1) 0%, rgba(255,241,0,1) 38%, rgba(255,143,0,1) 100%)
                background-attachment: fixed
.page__home
    .hero
        margin-bottom: $spacing4
    .block-partners
        .organization
            h1
                display: none
            .media
                background: transparent

.organization
    .media
        padding-left: 0
        padding-right: 20%
        background: transparent
        margin-bottom: 0
        padding-top: $spacing0
        padding-bottom: $spacing0
    h2, h3
        display: none

.organizations
    grid-row-gap: $spacing0
.persons__page
    .hero
        hgroup
            margin-left: 0 !important
            h1,
            p
                text-align: left

footer#document-footer
    .container
        position: relative
        &:first-of-type 
            > * 
                line-height: px2rem(28)
            ul li 
                margin-top: $spacing0
    .footer-title
        font-family: $serif-font-family
        font-style: italic
        font-size: px2rem(20)
        line-height: px2rem(34)
        margin-top: $spacing1
    .footer-social
        order: unset
        text-align: left
    @include media-breakpoint-up(desktop)
        background: $color-background-alt
        .container:first-of-type
            @include grid(4)
            ul li
                @include meta
        .container:last-of-type
            @include grid(2)
            align-items: flex-end
            margin-top: $spacing1
        .footer-site
            &, a    
                display: none // Pas de lien haut de page en desktop 
        .footer-logo
            text-align: right
            margin-left: auto
            width: col(4, 6)
    @include media-breakpoint-down(xxl)
        h2, 
        .footer-credit,
        .container:first-of-type ul li
            font-size: $meta-size
    @include media-breakpoint-up(xxl)
        h2, 
        .footer-credit
            @include meta
    @include media-breakpoint-down(desktop)
        background: 
            image: url('/assets/images/sun.svg'), linear-gradient($color-background, black)
            position: center 680px
            repeat: no-repeat
            size: 1000px auto
        padding-bottom: half($grid-gutter-sm)
        .container:first-of-type > * + *
            margin-top: $spacing2
        .footer-title
            display: none
        .footer-site,
        .footer-logo
            text-align: center
        .footer-logo
            margin-top: $spacing4
            margin-bottom: $spacing3
            padding-bottom: $spacing1

    h2
        font-weight: bold