<div class="container">
  <div class="footer-legals">
    {{ partial "footer/legals.html" }}
  </div>
  <div class="footer-social">
    {{ partial "footer/social.html" }}
  </div>
  <div class="footer-resources">
    {{ partial "footer/resources.html" }}
  </div>
  <div class="footer-help">
    {{ partial "footer/help.html" }}
  </div>
</div>

<div class="container">
  {{ partial "footer/credit.html" }}
    <div class="footer-logo">
      {{ partial "footer/logo.html" }}
      <p class="footer-title">Un commun numérique libre, sobre et accessible pour l'Enseignement Supérieur et la Recherche</p>
    </div>
  
  <div class="footer-site">
    {{ partial "footer/site.html" }}
  </div>
</div>