<div class="container">
  <div class="footer-legals">
    {{ partial "footer/legals.html" }}
  </div>
  <div class="footer-social">
    {{ partial "footer/social.html" }}
  </div>
  <div class="footer-resources">
    {{ partial "footer/resources.html" }}
  </div>
  <div class="footer-help">
    {{ partial "footer/help.html" }}
  </div>
</div>

{{ if and site.Params.search.active (in site.Params.search.positions "footer") }}
<div class="container footer-search">
  {{ partial "commons/search/button.html" "footer" }}
</div>
{{ end }}

<div class="container">
  {{ partial "footer/credit.html" }}
  <div class="footer-logo">
    <a class="logo" href="https://www.osuny.org">
      <img src="/assets/images/logo.svg" alt="Osuny" height="455" width="1591" loading="lazy">
    </a>
    <p class="footer-title">Commun numérique d'intérêt général</p>
  </div>
</div>