<div class="container">
  <div class="footer-top">
    <div class="footer-logo">
      {{ partial "footer/logo.html" }}
    </div>
    <div class="footer-baseline">
      {{ i18n "baseline" | safeHTML }}
    </div>
  </div>
  <div class="footer-menu">
    {{ partial "commons/menu.html" (dict
      "kind" "ecosystem-footer"
      "class" "nav-footer"
      "context" .
    ) }}
  </div>
  {{ if and site.Params.search.active (in site.Params.search.positions "footer") }}
    <div class="footer-search">
      {{ partial "commons/search/button.html" "footer" }}
    </div>
  {{ end }}
  <div class="footer-legals">
    {{ partial "commons/menu.html" (dict
      "kind" "ecosystem-legal"
      "class" "nav-legal"
      "context" .
    ) }}
    {{ partial "footer/credit.html" . }}
  </div>
</div>