// title-left
// specific class to align top + description
// content aligned (left) with description
.block-class-title-left
    .top
        .description
            p
                @include lead
                
    @include in-page-without-sidebar
        .block-content
            display: block !important
            
            [class*="--grid"]
                @include grid(2, desktop)

        .top
            display: flex !important
            align-items: baseline !important
            gap: var(--grid-gutter)
            
            .block-title
                width: columns(4) !important
            
            .description
                flex: 1
                margin-bottom: $spacing-4
                margin-top: 0
                p
                    @include lead
            
            + *
                margin-left: offset(4)
                width: columns(8)