.block-chapter
    &--accent_background
        margin-top: $spacing-5 !important
        @include in-page-without-sidebar
            .chapter
                justify-content: center
        .chapter
            .text
                padding: 0 !important
                font-size: var(--h2-size)
                line-height: 120%
                text-align: center
