.block-chapter
    figure
        background: $color-background-alt
        padding: $spacing-3
    @include media-breakpoint-down(desktop)
        .top
            margin-bottom: $spacing-2
    @include in-page-without-sidebar
        .block-title
            @include h2
        .chapter
            .text
                width: columns(5)
                margin-right: offset(1)
            figure
                padding: $spacing-5
                margin-right: var(--grid-gutter-negative)
                width: calc((var(--grid-gutter) + var(--column-width) * 6) + var(--grid-gutter) * 5.5)
        &.block-class-reverse
            .chapter
                .text
                    margin-left: offset(1)
                    margin-right: 0
                figure
                    margin-right: 0
                    margin-left: var(--grid-gutter-negative)
                    order: -1
    @include in-page-with-sidebar
        .chapter
            .text
                width: columns(6)
    &--alt_background
        background: none
        .chapter
            .text
                line-height: var(--lead-line-height)
                font-size: var(--lead-size)
        &:not(.block-chapter--with-image)
            .chapter
                .text
                    @include in-page-without-sidebar
                        text-align: center
                        width: columns(8) !important
                        margin-left: offset(2)
    &--accent_background
        .chapter
            .text
                @include h1
        @include in-page-without-sidebar
            margin-top: space(32) !important
            .chapter
                .text
                    text-align: center
                    width: 100%