.block-chapter
    figure
        background: $color-background-alt
        padding: $spacing-3
    @include media-breakpoint-down(desktop)
        .top
            margin-bottom: $spacing-2
    @include in-page-without-sidebar
        .block-title
            @include h2
        .chapter
            .text
                width: columns(5)
                margin-right: offset(1)
            figure
                padding: $spacing-5
                width: offset(6)
        &.block-class-reverse
            .chapter
                .text
                    margin-left: offset(1)
                    margin-right: 0
                figure
                    order: -1
    @include in-page-with-sidebar
        .chapter
            .text
                width: columns(6)
    &--alt_background
        background: none
        .chapter
            .text
                line-height: var(--lead-line-height)
                font-size: var(--lead-size)
                font-family: $font-inclusive
                @include in-page-without-sidebar
                    width: columns(9) !important
    &--accent_background
        .chapter
            .text
                @include h1
        @include in-page-without-sidebar
            margin-top: space(32) !important
            .chapter
                .text
                    text-align: center
                    width: 100%