.block-features
    &.block-class-collapsed
        .container
            .block-content
                .top
                    .block-title
                        cursor: pointer
                        @include icon(arrow-down-s-line, after)
                        &::after
                            background: $color-background-alt
                            border-radius: 6px
                            display: inline-block
                            margin-left: $spacing-2
                            padding: 2px 8px
                            transition: transform 0.2s ease
                    .description
                        display: none
                .features
                    display: none
        &--show
            .container
                .block-content
                    .top
                        .block-title
                            &::after
                                transform: rotate(-180deg)
                        .description
                            display: block
                    .features
                        display: grid
    &.block-class-features-with-checkbox
        .feature-content
            .name
                display: flex
                align-items: center
                @include icon(check-line, before)
                &::before
                    border: 1px solid $color-text
                    font-size: 0.65em
                    vertical-align: middle
                    margin-right: $spacing-2
    .feature
        margin-bottom: $spacing-3
        .name
            @include h3
            font-family: $font-adelphe
        figure
            margin-bottom: $spacing-2
            picture
                img
                    margin: 0
    @include in-page-with-sidebar
        .block-content
            ul
                .name
                    + div
                        margin-left: offset(1)
                        width: columns(5)