.block-features
    .feature
        margin-bottom: $spacing-3
        .name
            @include h3
            font-family: $font-adelphe
        figure
            margin-bottom: $spacing-2
            picture
                img
                    margin: 0
    @include in-page-with-sidebar
        .block-content
            ul
                .name
                    + div
                        margin-left: offset(1)
                        width: columns(5)