.block-features
    &.block-class-collapsed
        .container
            .block-content
                border-bottom: 1px solid black
                .top
                    width: 100%
                    margin-bottom: space(4)
                    .block-title
                        @include icon(arrow-down-s-line, after)
                        font-family: $font-adelphe
                        display: flex
                        cursor: pointer
                        &::after
                            display: block
                            line-height: 130%
                            margin-left: auto
                    .description
                        display: none
                .features
                    display: none
        &--show
            .container
                .block-content
                    .top
                        .block-title
                            &::after
                                transform: rotate(-180deg)
                        .description
                            display: block
                            margin-top: $spacing-2
                    .features
                        display: grid
    &.block-class-features-with-checkbox
        .feature-content
            .name
                display: flex
                align-items: center
                height: pxToRem(30)
                line-height: 120% !important
                @include icon(check-line, before)
                &::before
                    border: 1px solid $color-text
                    font-size: 0.65em
                    vertical-align: middle
                    margin-right: pxToRem(15)
    &--grid
        .features
            .feature
                margin-bottom: $spacing-3
                .feature-content
                    .name
                        @include h3
                        font-family: $font-adelphe
                        margin-bottom: $spacing-1
    &--list
        .features
            border-top: var(--border-width) solid var(--color-border)
            padding-top: $spacing-3
            .feature
                margin-bottom: $spacing-3
                padding-top: 0
                .feature-content
                    .name
                        @include body-text
                        font-weight: bold
                    > div
                        @include in-page-without-sidebar
                            width: columns(8)

    // Cumul de blocs features
    + .block-features
        margin-top: calc(-1 * var(--block-space-y) + 1rem)