.block-gallery
    figure
        picture
            margin-left: 0 !important
            margin-right: 0 !important
            padding: $spacing-5
            background: $color-background-alt
        &.image-portrait
            picture
                img
                    @include in-page-with-sidebar
                        width: columns(4)
                        margin-right: auto
                        margin-left: auto