.block-organizations
    &--grid
        &.block-class-logo-wall
            .organization-content
                display: none
            .organization
                .media
                    border: none
                    padding: 0
                    margin-bottom: $spacing-5
                    picture
                        max-width: pxToRem(150)
                        max-height: pxToRem(60)
                        img
                            filter: saturate(0)
                            object-position: left
                            &:hover
                                filter: none
                                