.block-pages
    .top
        a::after
            content: ""
    &--grid
        @include in-page-without-sidebar
            .pages
                padding-left: offset(4)
    &--large
        @include in-page-without-sidebar
            .pages
                .page
                    flex-direction: row-reverse
                    align-items: start
                    justify-content: space-between
                    .page-content
                        width: columns(4)
                        padding-right: 0
                        .page-title
                            @include h2
                    .media
                        width: columns(7)
                        img
                            aspect-ratio: auto
    &--list
        .pages.title-only
            .page
                @include h2