.block-projects
    &--grid
        background: $color-background-alt
        padding-bottom: var(--grid-gutter)
        padding-top: var(--grid-gutter)
        @include media-breakpoint-up(desktop)
            .projects--grid
                display: flex
                justify-content: space-between
                .project
                    width: columns(3)
                    margin-bottom: $spacing-4
        .projects--grid
            li
                margin-top: 0
                .project
                    margin-bottom: $spacing-4
