.events__page
    .hero
        .content
            .hero-text
                @include media-breakpoint-up(desktop)
                    margin-top: $spacing-3
                    h1
                        max-width: columns(10)
                    .hero-actions
                        width: columns(2)
            figure
                .credit
                    background: none