.organization
    .media
        background: transparent
        border: 1px solid $color-border
        @include media-breakpoint-up(desktop)
            padding: $spacing-4
        img
            mix-blend-mode: multiply
.organizations__page
    .osuny-badges
        margin-top: $spacing-4
        > a
            display: inline-block
            margin-right: $spacing-2
            margin-bottom: $spacing-2