.pages
    &--alternate
        @include in-page-without-sidebar
            width: 100% !important
            margin-left: 0 !important
            margin-right: 0 !important
            li
                width: columns(7)
                .page
                    margin-bottom: space(50)
                    .page-title
                        @include h2
                        margin-bottom: $spacing-3
                        margin-left: offset(1)
                        order: 0
                    .media
                        order: 1 !important
                    p
                        order: 2
                        margin-left: offset(1)
                        width: columns(4)
    &--large
        article
            .media
                img
                    aspect-ratio: auto !important
    &--list
        .page
            &-title
                @include small-arrow-right-hover
                &::after
                    font-size: 0.8em
                    opacity: 0
                &:hover
                    &::after
                        opacity: 1
        @include in-page-with-or-without-sidebar
            grid-template-columns: repeat(1, 1fr) !important
            .page
                position: relative
                .page-content
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    text-align: center
                    .page-title
                        font-size: pxToRem(32)
                        a
                            @include stretched-link
                    p
                        font-size: pxToRem(24)
                        font-family: $font-adelphe
                        line-height: 130%
                .media
                    width: columns(3) !important
