.persons__page
    .osuny-badges
        @include media-breakpoint-down(desktop)
            margin-top: space(30)
        > a
            display: inline-block
            margin-right: $spacing-2
            margin-bottom: $spacing-2