.projects
    &--grid
        .project
            .project-content
                .project-title
                    @include meta
            .media
                margin-left: 0
                margin-right: 0
                margin-bottom: $spacing-2
        @include media-breakpoint-up(desktop)
            grid-template-columns: repeat(3, 1fr)
            .project
                margin-bottom: $spacing-5
.projects__section
    .project
        .media
            background: $color-background-alt
            padding: $spacing-5
            margin-bottom: $spacing-1

.projects__page
    .hero
        .container
            .project-infos
                display: none
    @include media-breakpoint-up(desktop)
        .hero
            .container
                .content
                    .hero-text
                        .hero-actions
                            position: absolute
                            bottom: 0
                    figure
                        background: $color-background-alt
                        padding: $spacing-5
                        figcaption
                            position: relative
                            &::before
                                background: none
                            .credit
                                background: none
                                display: block
        main
            .toc-container
                .toc-content
                    top: pxToRem(300) !important
    .siblings-navigation
        display: none